/* Custom properties */
:root {
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --violet: #9792e4;
  --yellow: #fabf61;
  --darkgrey: #333333;
}

/* General properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.debug {
  background-color: rgba(0, 0, 255, .2);
  border: 1px solid black;
  min-height: 50px;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

main .col {
  width: 100%;
  padding: 20px 20px 0 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* HEADER */
header {
  width: 100%;
  background-color: var(--blue);
  color: white;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
}

header .row {
  justify-content: space-between;
  align-items: center;
  
}

header .row .menu {
  display: none;
}

header .menu ul {
  display: flex;
  flex-direction: row;
}

header .menu ul li {
  margin: 0 10px;
}

header .menu button {
  padding: 5px 10px;
  background-color: white;
}

/* MAIN */
main {
  padding-top: 100px;
}

section {
  margin-bottom: 50px;
}

.intro .row {
  flex-wrap: wrap;
}

.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row {
  flex-direction: column;
}

.benefits .row {
  flex-wrap: wrap;
}

/* INTRO */
.intro h3,
.intro p,
.intro button,
.intro .rem i{
  margin-bottom: 20px;
}

.intro button {
  background-color: var(--blue);
  padding: 8px 30px;
  color: white;
}

.intro img {
  width: 200px;
}

.intro .row .col .row .col {
  padding: 0;
  margin: 0;
}

.intro .col {
  text-align: center;
  background-color: var(--lightblue);
  color:  #586d80;
  font-weight: 600;
}

.intro .rem i {
  font-size: 5rem;
}

.intro h3,
.intro .rem i {
  color: var(--blue);
}

/* PLANNING */
.planning img {
  width: 100%;
  margin-bottom: 50px;
}

.planning .col:last-child {
  background-color: white;
  color: black;
  text-align: center;
}

.planning {
  background-color: var(--violet);
  color: white;
}

.planning h3 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.planning .fa-arrow-down {
  padding: 13px 15px;
  border-radius: 50%;
  background-color: var(--violet);
  margin: 20px;
  cursor: pointer;
}
/* RESPONSIVE AREA */


@media screen and (min-width:768px) {

  header .row .menu {
      display: block;
  }

  header .row .hamburger {
      display: none;
  }

  .intro .col {
      width: calc(100% / 3 - 20px);
      margin-right: 20px;
  }
  
  .intro .col:last-child,
  .intro .col:nth-child(2) {
      margin-right: 0;
  }

  .intro .col:first-child {
    width: calc(66.6% - 20px);
  }

  .benefits .row,
  .about .row,
  .testimonials .row {
      flex-direction: row;
  }

  .testimonials .row .col:first-child {
      width: 220px;
  }

  .benefits .col {
      width: 50%;
  }

  .about .col:last-child {
      width: 250px;
  }

}

@media screen and (min-width:992px) {
  .intro .col:first-child .row {
      flex-direction: row;
  }
  .benefits .col {
      width: calc(100% / 3);
  }
  .planning .row {
    flex-direction: row;
  }
  .planning .col:last-child {
    scale: 0.7;
    position: relative;
    bottom: -70px;
    border-radius: 50px;
  }
}